@page "/pages/outlet"

@using SFCTOFC.DailySalesPlanManagement.Server.UI.Pages.Dashboard.Components
@using SFCTOFC.DailySalesPlanManagement.Application.Common.Security
@using SFCTOFC.DailySalesPlanManagement.Application.Common.Interfaces.Identity
@using SFCTOFC.DailySalesPlanManagement.Application.Common.Interfaces
@using SFCTOFC.DailySalesPlanManagement.Application.Features.Tenants.DTOs
@using SFCTOFC.DailySalesPlanManagement.Application.Features.DSPM.Commands.AddEdit
@using SFCTOFC.DailySalesPlanManagement.Application.Features.DSPM.Queries.GetAll
@using SFCTOFC.DailySalesPlanManagement.Domain.Identity;
@using MudBlazor.Utilities

@using SFCTOFC.DailySalesPlanManagement.Application.Features.DSPM.DTOs;
@using SFCTOFC.DailySalesPlanManagement.Application.Features.DSPM.Queries.Pagination;

@inherits OwningComponentBase
@inject IStringLocalizer<Outlet> L
@inject IUserProfileState UserProfileState
@inject ITenantSwitchService TenantSwitchService

<style>
    @@import url("https://cdn.jsdelivr.net/npm/@@fancyapps/ui@@5.0.36/dist/fancybox/fancybox.css");

    .fancybox__container {
        --fancybox-bg: rgba(24, 24, 27, 0.85);
        z-index: 9999;
    }

    html, body {
        -moz-osx-font-smoothing: grayscale; /* Firefox on macOS */
        -webkit-font-smoothing: antialiased; /* Chrome, Edge, Safari */
        text-rendering: optimizeLegibility;
    }

    body {
        font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
        font-size: 12px;
    }

    .mud-menu .mud-icon-button {
        border-radius: 0 !important;
    }

    .search .mud-input {
        line-height: 1px !important;
    }

    .small-input .mud-input-slot {
        min-height: 28px !important;
        font-size: 0.8rem !important;
    }

    .small-input input {
        padding: 2px 6px !important;
    }

    .mud-card-content {
        flex-grow: 1;
        padding: 17px;
        margin-top: -36px !important;
    }

    .mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
        font-size: 1rem !important;
        font-weight: 600;
    }

    .mud-table.mud-data-grid .mud-table-toolbar {
        padding: 0rem !important;
    }

    .mud-table-root {
        margin-top: 1.3ewm !important;
    }

    .mud-table thead th {
        /* background-color: #c3c3c3 !important; */
        /* background-color: #dddddd !important;  */
        color: black !important;
        font-weight: 600;
        /* border: 1px solid #ccc; */
        /* border-top: 1px solid #eaeaea; */
    }

    .force-row {
        display: flex !important;
        flex-direction: row !important;
    }

    .gap-20 {
        column-gap: 190px;
    }

    .gap-21 {
        column-gap: 207px;
    }

    .gap-22 {
        column-gap: 140px;
    }

    .gap-19 {
        /* column-gap: 159px; */
    }

    .mud-table-bordered th,
    .mud-table-bordered td {
        align-content: flex-start;
        border: 1px solid #E3E3E3;
        padding: 6px;
    }

    .mud-table-bordered {
        border-collapse: collapse;
        width: 100%;
    }

    .compact-padding {
        padding: 9px 16px 0px 16px;
    }


    .ultra-compact-grid .mud-table-row {
        height: 26px !important;
    }

    .ultra-compact-grid .mud-table-cell {
        padding: 2px 6px !important;
        font-size: 0.75rem !important;
    }

    .mud-data-grid .mud-table-foot {
        display: none !important;
    }

    .mud-table.mud-table-striped tbody tr:nth-child(odd) {
        background-color: #fafafa !important;
    }

    .mud-table.mud-table-striped tbody tr:nth-child(even) {
        background-color: #ebebeb !important;
    }

    .mud-table.mud-table-hover tbody tr:hover {
        background-color: #00baef !important;
        color: white;
        cursor: pointer;
    }

    .mud-datagrid-header {
        border-bottom: 1px solid #E6E6E6;
    }

    .mud-datagrid-pager .mud-select {
        margin-left: auto !important;
    }

    .custom-pager .mud-datagrid-pager {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }
</style>

<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">

<PageTitle>@Title</PageTitle>

<ErrorBoundary>
    <MudCard>
        <MudCardContent>
            <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mt-7">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <MudIcon Icon="@Icons.Material.Filled.Store" Color="Color.Primary" Size="Size.Large" />
                    <MudText Typo="Typo.h3" Style="color: black;">
                        Outlets
                    </MudText>
                </MudStack>
                <MudStack Spacing="0" AlignItems="AlignItems.End">
                    <MudToolBar Dense WrapContent="true" Class="py-1 px-0">
                        <MudButton Disabled="@_loading">
                            <MudIcon Icon="@Icons.Material.Filled.LibraryBooks" Size="Size.Small" Color="Color.Info" Style="margin: 5px" />
                            Export to Excel
                        </MudButton>
                    </MudToolBar>
                </MudStack>
            </MudStack>

        </MudCardContent>
    </MudCard>

    <MudDataGrid T="OutletsDto" Class="ultra-compact-grid compact-padding mud-datagrid-header" ServerData="@(ServerReload)" RowClick="OnRowClickOutlet"
                 FixedHeader="true" FixedFooter="false" Loading="@_loading" ColumnResizeMode="ResizeMode.Column"
                 Striped="true" Dense="true" Hover="true" @ref="_dataGridOutlet" RowsPerPage="20" Style="height:100%; overflow:auto;">
        <ToolBarContent>
            <MudStack Row Spacing="0" Class="flex-grow-1 mb-5" Justify="Justify.SpaceBetween">
                <MudStack Row AlignItems="AlignItems.Start">
                    <MudStack Spacing="0">
                        <div style="width: fit-content;">
                            <MudStack Row Spacing="1" AlignItems="AlignItems.Center">
                                @* SEACH FIELD *@
                                <MudTextField T="string"
                                              Variant="Variant.Outlined"
                                              Dense="true"
                                              Class="search small-input mt-3 mb-4 mr-5"
                                              @bind-Value="_paginationQuery.Keyword"
                                              Placeholder="@ConstantString.Search"
                                              Adornment="Adornment.End"
                                              AdornmentIcon="@Icons.Material.Filled.Search"
                                              IconSize="Size.Small"
                                              Immediate="true"
                                              Clearable="true">
                                </MudTextField>

                                <MudTooltip Text="Refresh Dashboard">
                                    <MudIconButton Icon="@Icons.Material.Filled.Refresh"
                                                   Color="Color.Primary"
                                                   Size="Size.Small" />
                                </MudTooltip>

                                <MudButton Disabled="@_loading"
                                           class="mr-6"
                                           Size="Size.Small">
                                    <MudIcon Icon="@Icons.Material.Filled.PlaylistAdd" Size="Size.Small" Style="margin: 3px" Color="Color.Info" />
                                    Add Outlet
                                </MudButton>
                            </MudStack>
                        </div>
                    </MudStack>
                </MudStack>
            </MudStack>
        </ToolBarContent>

        <Columns>
            <TemplateColumn HeaderStyle="width:60px" class="mt-5" Title="@ConstantString.Actions" Sortable="false" StickyLeft="true">
                <CellTemplate>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <MudIconButton Icon="@Icons.Material.Filled.EditNote" Color="Color.Info" Size="Size.Small" Disabled="!_accessRights.Edit" />
                    </div>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Name" Title="Name" />
            <PropertyColumn Property="x => x.Address" Title="Address" />
            <PropertyColumn Property="x => x.City" Title="Town/City" />
            <PropertyColumn Property="x => x.Province" Title="Province" />
            <PropertyColumn Property="x => x.Region" Title="Region" />
            <PropertyColumn Property="x => x.Channel" Title="Channel" />
            <PropertyColumn Property="x => x.Salesman" Title="Salesman" />
        </Columns>

        <NoRecordsContent>
            <MudText>@ConstantString.NoRecords</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>@ConstantString.Loading</MudText>
        </LoadingContent>
        <PagerContent>
            <MudDataGridPager PageSizeOptions="@(new[] { 10, 15, 30, 50, 100, 500, 1000 })" />
        </PagerContent>
    </MudDataGrid>
</ErrorBoundary>

<MudDrawer @bind-Open="_drawerCustomer"
           Responsive="true"
           Anchor="Anchor.Right"
           Elevation="20"
           Variant="DrawerVariant.Temporary"
           Width="75%"
           DisableOverlay="false"
           Class="pa-1">

    <MudDrawerHeader>
        <div style="display:flex; justify-content:space-between; align-items:start; width:100%;">
            <!-- LEFT SIDE -->
            <div>
                <div style="font-size:1.50rem; font-weight:bold;">
                    <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                        <MudIcon Icon="@Icons.Material.Filled.Description" Color="Color.Primary" Size="Size.Large" />
                        <MudText Typo="Typo.h3" Color="Color.Primary">
                            Outlet Information
                        </MudText>
                    </MudStack>
                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div style="display:flex; gap:6px; align-items:start;">
                <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft" Size="Size.Small" Color="Color.Primary" OnClick="Previous" />
                <MudIconButton Icon="@Icons.Material.Filled.ChevronRight" Size="Size.Small" Color="Color.Primary" OnClick="Next" />
                <MudIconButton Icon="@Icons.Material.Filled.Close" Size="Size.Small" Color="Color.Default" OnClick="@(() => _drawerCustomer = false)" />
            </div>
        </div>
    </MudDrawerHeader>

    <MudCardContent>
        <MudStack Direction="Row" Class="force-row mb-7" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Start" Spacing="2">
            <MudStack Direction="Column" Column Spacing="0" Class="mb-5">
                <MudStack Class="force-row mt-3" Justify="Justify.FlexStart" AlignItems="AlignItems.Start" Spacing="2">
                    <MudSpacer />
                </MudStack>
            </MudStack>
            <MudStack Class="force-row mt-1" Justify="Justify.FlexEnd" AlignItems="AlignItems.Start" Spacing="2">
                <MudButton Disabled="@_loading">
                    <MudIcon Icon="@Icons.Material.Filled.Save" Size="Size.Small" Color="Color.Info" Style="margin: 5px" />
                    Update
                </MudButton>
                <MudButton Disabled="@_loading">
                    <MudIcon Icon="@Icons.Material.Filled.Input" Size="Size.Small" Color="Color.Info" Style="margin: 5px" />
                    Close
                </MudButton>
            </MudStack>
        </MudStack>
        
        <MudForm Model="_model" @ref="@_form" Validation="@(Validator.ValidateValue(_model))">
            <MudGrid Spacing="2">
                <MudItem xs="3">
                    <MudTextField Label="Name"
                                  Lines="1"
                                  Margin="Margin.Dense"
                                  For="@(() => _model.Name)"
                                  @bind-Value="_model.Name"
                                  Variant="Variant.Outlined">
                    </MudTextField>
                </MudItem>
                <MudItem xs="9">
                    <MudTextField Label="Address"
                                  Lines="1"
                                  Margin="Margin.Dense"
                                  For="@(() => _model.Address)"
                                  @bind-Value="_model.Address"
                                  Variant="Variant.Outlined">
                    </MudTextField>
                </MudItem>
                <MudItem xs="3">
                    <MudTextField Label="City"
                                  Lines="1"
                                  Margin="Margin.Dense"
                                  For="@(() => _model.City)"
                                  @bind-Value="_model.City"
                                  Variant="Variant.Outlined">
                    </MudTextField>
                </MudItem>
                <MudItem xs="3">
                    <PicklistAutocomplete Picklist="Picklist.Province" T="string"
                                          Label="@L["Province"]"
                                          For="@(() => _model.Province)"
                                          ResetValueOnEmptyText="true"
                                          ShowProgressIndicator="true"
                                          @bind-Value="_model.Province"
                                          Style="width:100%; height:100%;"
                                          Margin="Margin.Dense" 
                                          Variant="Variant.Outlined">
                        <ProgressIndicatorTemplate>
                            <MudProgressLinear Size="MudBlazor.Size.Small" Indeterminate="true" />
                        </ProgressIndicatorTemplate>
                    </PicklistAutocomplete>
                </MudItem>
                <MudItem xs="3">
                    <PicklistAutocomplete Picklist="Picklist.Region" T="string"
                                          Label="@L["Region"]"
                                          For="@(() => _model.Region)"
                                          ResetValueOnEmptyText="true"
                                          ShowProgressIndicator="true"
                                          @bind-Value="_model.Region"
                                          Style="width:100%;"
                                          Margin="Margin.Dense" Variant="Variant.Outlined">
                        <ProgressIndicatorTemplate>
                            <MudProgressLinear Size="MudBlazor.Size.Small" Indeterminate="true" />
                        </ProgressIndicatorTemplate>
                    </PicklistAutocomplete>
                </MudItem>
                <MudItem xs="3">
                    <PicklistAutocomplete Picklist="Picklist.Channel" T="string"
                                          Label="@L["Channel"]"
                                          For="@(() => _model.Channel)"
                                          ResetValueOnEmptyText="true"
                                          ShowProgressIndicator="true"
                                          @bind-Value="_model.Channel" 
                                          Style="width:100%;"
                                          Margin="Margin.Dense" Variant="Variant.Outlined">
                        <ProgressIndicatorTemplate>
                            <MudProgressLinear Size="MudBlazor.Size.Small" Indeterminate="true" />
                        </ProgressIndicatorTemplate>
                    </PicklistAutocomplete>
                </MudItem>
                <MudItem xs="3">
                    <MudTextField Label="Salesman"
                                  Lines="1"
                                  Margin="Margin.Dense"
                                  For="@(() => _model.Salesman)"
                                  @bind-Value="_model.Salesman"
                                  Variant="Variant.Outlined">
                    </MudTextField>
                </MudItem>
            </MudGrid>
        </MudForm>

        <MudItem xs="12" sm="12" Class="mt-5">
            <MudTabs>
                <MudTabPanel Text="Recent Purchase Order" Icon="@Icons.Material.Filled.ShoppingCartCheckout" Size="">
                    <MudDataGrid T="PurchaseOrderDto"
                                 Items="@_purchaseOrder"
                                 @ref="_dataGridPurchaseOrder"
                                 Class="mb-10" Dense="true" Filterable="false"
                                 Hover="true" Bordered="true" EditMode="DataGridEditMode.Cell"
                                 Groupable="true" GroupExpanded="true" HorizontalScrollbar="false"
                                 EditTrigger="DataGridEditTrigger.OnRowClick" Editable="true"
                                 ReadOnly="false" Style="border-radius:6px;" Striped="true">
                        <Columns>
                            <PropertyColumn Property="x => x.PurchaseOrderNo" Title="Purchase Order No" Sortable="false" FlexWidth="false" Width="200px" ColumnStyle="min-width:200px; max-width:200px; width:200px;" HeaderStyle="min-width:200px; max-width:200px; width:200px;" />
                            <PropertyColumn HeaderStyle="font-weight: bold; width: 106px;" Property="x => x.PurchaseOrderDate" Title="Purchase Order Date">
                                <CellTemplate>
                                    @(context.Item.PurchaseOrderDate?.ToString("MMM dd, yyyy") ?? "")
                                </CellTemplate>
                            </PropertyColumn>
                            <PropertyColumn HeaderStyle="font-weight: bold; width: 106px;" Property="x => x.DeliveryDate" Title="Delivery Date">
                                <CellTemplate>
                                    @(context.Item.DeliveryDate?.ToString("MMM dd, yyyy") ?? "")
                                </CellTemplate>
                            </PropertyColumn>
                            @* <PropertyColumn HeaderStyle="font-weight: bold; width: 106px;" Property="x => x.CancelDate" Title="Cancel Date">
                                <CellTemplate>
                                    @(context.Item.CancelDate?.ToString("MMM dd, yyyy") ?? "")
                                </CellTemplate>
                            </PropertyColumn> *@
                            <PropertyColumn Property="x => x.CancelDate" Title="Cancel Date" Sortable="false" FlexWidth="false" Width="150px" ColumnStyle="min-width:150px; max-width:150px; width:150px;" HeaderStyle="min-width:150px; max-width:150px; width:150px;" />
                            <PropertyColumn Property="x => x.Status" Title="Status" Sortable="false" FlexWidth="false" Width="150px" ColumnStyle="min-width:150px; max-width:150px; width:150px;" HeaderStyle="min-width:150px; max-width:150px; width:150px;" />
                            <PropertyColumn Property="x => x.TotalAmount" Title="Total Amount" Sortable="false" FlexWidth="false" Width="150px" ColumnStyle="min-width:150px; max-width:150px; width:150px;" HeaderStyle="min-width:150px; max-width:150px; width:150px;">
                                <CellTemplate>
                                    @(context.Item.TotalAmount?.ToString("C2") ?? "")
                                </CellTemplate>
                            </PropertyColumn>
                        </Columns>
                    </MudDataGrid>
                </MudTabPanel>
                <MudTabPanel Text="Products" Icon="@Icons.Material.Filled.Cookie" Size="">
                    <MudDataGrid T="PurchaseOrderDto"
                                 Items="@_purchaseOrder"
                                 Class="mb-10" Dense="true" Filterable="false"
                                 Hover="true" Bordered="true" EditMode="DataGridEditMode.Cell"
                                 Groupable="true" GroupExpanded="true" HorizontalScrollbar="false"
                                 EditTrigger="DataGridEditTrigger.OnRowClick" Editable="true"
                                 ReadOnly="false" Style="border-radius:6px;" Striped="true">
                    </MudDataGrid>
                </MudTabPanel>
            </MudTabs>
        </MudItem>
    </MudCardContent>
</MudDrawer>

@code {
    public string Title { get; set; } = "Outlets";
    [CascadingParameter] private Task<AuthenticationState> AuthState { get; set; } = default!;
    [CascadingParameter] private UserProfile? UserProfile { get; set; }
    private UserManager<ApplicationUser> _userManager = null!;
    private OutletAccessRights _accessRights = new();
    private PaginationQueryOutlets _paginationQuery { get; } = new();
    private bool _loading;

    private bool _drawerCustomer;

    private int _currentIndex = 0;
    private OutletsDto _currentDto = new();
    private List<OutletsDto> _List = new();
    private MudDataGrid<OutletsDto> _dataGridOutlet = default!;

    private MudForm? _form;
    private AddEditOutletCommand _model = new();

    private MudDataGrid<PurchaseOrderDto> _dataGridPurchaseOrder = default!;
    private IEnumerable<PurchaseOrderDto> _purchaseOrder = new List<PurchaseOrderDto>();

    protected override async Task OnInitializedAsync()
    {
        _userManager = ScopedServices.GetRequiredService<UserManager<ApplicationUser>>();        
    }

    private async Task<GridData<OutletsDto>> ServerReload(GridState<OutletsDto> state)
    {
        try
        {
            _loading = true;
            _paginationQuery.CurrentUser = UserProfile;
            _paginationQuery.OrderBy = state.SortDefinitions.FirstOrDefault()?.SortBy ?? "Id";
            _paginationQuery.SortDirection = state.SortDefinitions.FirstOrDefault()?.Descending ?? true
                                             ? SortDirection.Descending.ToString()
                                             : SortDirection.Ascending.ToString();
            _paginationQuery.PageNumber = state.Page + 1;
            _paginationQuery.PageSize = state.PageSize;

            var data = await Mediator.Send(_paginationQuery).ConfigureAwait(false);

            var result = await Task.Run(() =>
            {
                return (from dt in data.Items
                        join us in _userManager.Users on dt.Salesman equals us.Id
                        select new OutletsDto
                        {
                            Id = dt.Id,
                            Name = dt.Name,
                            Address = dt.Address,
                            City = dt.City,
                            Province = dt.Province,
                            Region = dt.Region,
                            Channel = dt.Channel,
                            Salesman = us.DisplayName
                        }).ToList();
            });

            // result is already a List<OutletsDto>
            var list = result ?? new List<OutletsDto>();

            return new GridData<OutletsDto>
            {
                TotalItems = list.Count,
                Items = list
            };

        }
        catch (Exception ex)
        {
            throw ex.InnerException;
        }
        finally
        {
            _loading = false;
        }
    }

    private async Task Previous()
    {
        if (_List is null || _List.Count == 0) return;
        if (_currentIndex > 0)
        {
            _currentIndex--;
            // LoadJobRequestAtCurrentIndex();
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task Next()
    {
        if (_List is null || _List.Count == 0) return;
        if (_currentIndex < _List.Count - 1)
        {
            _currentIndex++;
            // LoadJobRequestAtCurrentIndex();
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task OnRowClickOutlet(DataGridRowClickEventArgs<OutletsDto> args)
    {
        _currentDto = args.Item;
        if (_currentDto == null) return;

        _model = Mapper.Map<AddEditOutletCommand>(_currentDto);
        _purchaseOrder = await Mediator.Send(new GetAllPurchaseOrderByIdQuery { OutletId = _currentDto.Id });

        _drawerCustomer = true;
        await InvokeAsync(StateHasChanged);
    }
}
